.button, .highlighted-button {
  padding: 4px 8px;
  border: 1px solid #ffaa11;
  border-radius: 6px;
  background-color: #EE1122; }

.container-fluid .row .col-xs-4 {
  background-color: #EE1122; }

.highlighted-button {
  border-width: 2px; }

/*# sourceMappingURL=app.css.map */