@import "modules/colors";
@import "modules/fonts";
@import "modules/sizes";

// Generic button
.button {
	padding: 4px 8px;
	border: 1px solid $rojo_turquesa;
	border-radius: 6px;
	background-color: $naranja_celeste;
}