.container-fluid {
	.row {
		.col-xs-4 {
			background-color: $naranja_celeste;
		}
	}
}

.highlighted-button {
	@extend .button;
	border-width: 2px;
}


.caixes {
	border: 3px solid black;

	@import 'partials/caixa';
}